.images-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-top: 1.5rem;
}

.row-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.8rem;
    /* margin-bottom: 1.8rem; */
}

.img{
    width: 100%;
}

.p{
    font-weight: 600;
    font-size: 1.1rem;
}

.p span{
    font-weight: 500;
    color: rgb(97, 96, 96);
}