.images-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-top: 1.5rem;
}

.row-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    margin-bottom: 1.8rem;
}

.row-container div{
    padding:1rem
}

.row-container div:hover{
    cursor: pointer;
    border-radius: 1rem;
    scale: 1.05;
    transition: ease-in 0.2s;
}

.row-container p {
    color: var(--blue_palette);
    font-size: 1.6rem;
}

.img{
    width: 100%;
}

.p{
    font-weight: 600;
    font-size: 1.1rem;
}

.p span{
    position: relative;
    bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(97, 96, 96);
}