.presentattion-section {
  margin-top: 4.5rem;
  display: flex;
  flex-direction: row;
}

.presentattion-section-data {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  gap: 1rem;
}

.presentattion-section-tittle h1 {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 550;
  color: var(--blue_palette);
}

.presentattion-section-tittle div {
  display: flex;
}

.presentattion-section-tittle .presentattion-section-tittle-3 {
  color: var(--green_palette);
  margin-left: 0.6rem;
}

.tittle-lined-word {
  display: flex;
  flex-direction: column;
}

.tittle-line-1 {
  position: relative;
  top: 0.2rem;
  left: 0.6rem;
  width: 7rem;
  height: 0.15rem;
  background-color: var(--yellow_palette);
  transform: rotate(-4deg);
}

.tittle-line-2 {
  position: relative;
  top: 0.1rem;
  width: 7rem;
  left: 0.6rem;
  height: 0.15rem;
  background-color: var(--yellow_palette);
  transform: rotate(2deg);
}

.presentattion-section-eslogan {
  font-size: 0.9rem;
  margin: 1rem 0;
}

.presentattion-section-data-call2action {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--green_palette);
}

.presentattion-section-data-call2action button {
  border: none;
  background-color: var(--green_palette);
  text-align: center;
  color: white;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 500;
}

.presentattion-section-data-call2action button:hover {
  background-color: var(--blue_palette);
  cursor: pointer;
  transition: ease-in 0.2s;
}

.presentattion-section-data-call2action-video {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.presentattion-section-data-clients {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.presentattion-section-data-clients-2 {
  font-size: 0.8rem;
  font-weight: lighter;
}

.presentattion-section-image {
  position: relative;
  right: 1rem;
  margin-top: 2.5rem;
}